:root { /* pannaan tähän kaikki värit jota käytetään vaitsi perusvärit */
    --kpedu-sininen: #00a4e4;
}

main {
    background-color: white;
    color: black;
}


#logo {
    height: 80;
    width: 282;
    margin-right: 200px;
}

header {
    display: flex;
}

#teksti {
    text-align: center;
}

nav {
    margin-top: 50px;
}