:root { /* pannaan tähän kaikki värit jota käytetään vaitsi perusvärit */
    --kpedu-sininen: #00a4e4;
    --kpedu-pinkki: #e83980;
}

main {
    background-color: white;
    color: black;
}


#logo {
    height: 80;
    width: 282;
    margin-right: 200px;
}

header {
    display: flex;
}

#teksti {
    text-align: center;
}

nav {
    margin-top: 50px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-varaus {
    background-color: #00a4e4;
    border: none;
    border-radius: 30px;
    padding: 10px 35px;
    color: white;
    font-size: 18px;
}

.table_button {
    color: grey;
}

.table_button:hover {
    color: black;
    cursor: pointer;
}

.room_box {
    overflow: auto;
    height: 250px;
    border: 5px solid lightcyan;
    border-radius: 15px;
}

.room_table {
    width: 100%;
}

.room_tr {
    height: 100px;
}

.room_tr > th {
    margin: 5px;
    padding: 5px;
    width: 25%;
}

.room_div > input {
    visibility:hidden;
    position: absolute;
}

.center_contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_div > label {
    height: 110%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_room_div {
    border: 5px solid lightblue;
    border-radius: 30px;
    height: 80px;
    cursor: pointer;
}

.add_room_div > p {
    padding-top: 10px;
    color: lightblue;
    font-size: xx-large;
}

.disabled_item {
    border-color: lightgray;
    cursor: not-allowed;
}

.disabled_item > p {
    color: lightgray;
}

.room_div {
    background-color: gray;
    border-radius: 30px;
    height: 80px;
}

.room_div > label {
    cursor: pointer;
}

.room_div:hover {
    background-color: lightblue;
}

/* tila div jossa on input joka on valittu */
.room_div:has(input:checked) {
    background-color: var(--kpedu-sininen);
}

.varaus_extra_buttons {
    padding: 10px;
    margin: 10px;
}

.room_name { /* display none koska huone nimet eivät ollu paras idea */
    display: none;
}

.input {
    width: 40px;
    border: none;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 0 5px;
    text-align: center;
    font-size: 36px;
}