:root { /* pannaan tähän kaikki värit jota käytetään vaitsi perusvärit */
    --kpedu-sininen: #00a4e4;
}

main {
    background-color: white;
    color: black;
}


#logo {
    height: 80;
    width: 282;
    margin-right: 200px;
}

header {
    display: flex;
}

#teksti {
    text-align: center;
}

nav {
    margin-top: 50px;
}

.debugcircle {
    min-width: 50px;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    min-height: 50px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajastindiv {
    /* tämä class on kellolle joka kertoo kuinka kauan viime varauksesta on ollut */
    display: flex;
}
