<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testisivu</title>
    <link rel="stylesheet" href="../static/tyyli.css"/>
</head>

<main>

    <header>
        <h1>Tämä on testi sivu katsotaan mitä tapahtuu tälle sivulle pikkuhiljaa</h1>
    </header>

    <nav>
        <a herf="login-register.html">Kirjaudu/rekisteröidy</a>

        <a href="main.html">Etusivu</a>
    </nav>

    <body onload="stop_watch('{{ time_since }}')">
        <!-- ajastin panee id timeriin ajan viime varauksesta, tarvitsee myös onload ^ -->
        <div class="debugcircle">
            <p id="timer"></p>
            <script src="../static/time.js"></script>
        </div>


    </body>

    <aside>
        
    </aside>

</main>

</html>
