<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etusivu</title>

    <link rel="stylesheet" href="/static/tyyli.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.5.2/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.5.2/dist/js/tom-select.complete.min.js"></script>
</head>

<body onload="stop_watch('{{ time_since }}')">

<main>

<header>
    <div class="center_contents">
    <img class="header_img" id="logo" src="https://www.kpedu.fi/ResourcePackages/KPedu/assets/dist/images/logo.png">
    <img class="header_img" id="eu_flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/330px-Flag_of_Europe.svg.png">
    </div>
    <div class="container center_contents">
    <h1 id="teksti">Tira robo varaus</h1>
    </div>
    <nav>
    {% if user %}
    <div class="container center_contents">

    <h2 class="welcome-text">
    Tervetuloa {{user}}
    </h2>
    </div>
    <div class="container center_contents">
    <a href="/logout" class="btn btn-danger btn-lg">
    Kirjaudu ulos
    </a>

    {% else %}
    <div class="container center_contents">
    <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#authModal">
    Kirjaudu sisään
    </button>

    {% endif %}

    <a href="apua" class="btn btn-info btn-lg" id="btn-help">Apua</a>
    </div>

    </nav>
</header>



<!-- LOGIN MODAL -->
<div class="modal fade" id="authModal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title" id="modalTitle">Kirjoita sähköpostisi</h4>
</div>

<div class="modal-body">

<!-- EMAIL VIEW -->
<div id="emailView">
<form id="signupForm">

<select id="select-email" name="email" placeholder="matti.meikalainen@student.kpedu.fi">
{% for user in users %}
<option value="{{user}}">{{user}}</option>
{% endfor %}
</select>

<input class="form-check-input" type="checkbox" id="check1" required>
<label class="form-check-label">
Hyväksyn että työpaikka vakoilee miten siivoan huonettani
</label>

<br>

<button type="submit" class="btn btn-primary">Lähetä</button>
<button type="button" class="btn btn-basic" onclick="toggleLoginModalMode()">Syötä koodi</button>

</form>
</div>

<!-- CODE VIEW -->
<div id="codeView" style="display:none;">
<p>Kirjoita sähköpostiisi lähetetty koodi</p>

<form id="codeForm">

<div class="center_contents">
    <div id="inputs">
        <input class="input" type="text" name="num1" inputmode="numeric" maxlength="1">
        <input class="input" type="text" name="num2" inputmode="numeric" maxlength="1">
        <input class="input" type="text" name="num3" inputmode="numeric" maxlength="1">
        <input class="input" type="text" name="num4" inputmode="numeric" maxlength="1">
    </div>
</div>

<br>

<button type="submit" class="btn btn-success">Vahvista</button>
<button type="button" class="btn btn-basic" onclick="toggleLoginModalMode()">Takaisin</button>


</form>
</div>

<!-- SUCCESS VIEW -->
<div id="successView" style="display:none;">
<h4>Koodi hyväksytty!</h4>
<p>Kirjautuminen onnistui.</p>
</div>

</div>
</div>
</div>
</div>

<!-- NEW ROOM MODAL -->
<div class="modal fade" id="addRoomModal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title" id="roomModalTitle">Uusi huone/Aseta oletus</h4>

<div id="newRoomView">
<form id="addRoomForm">
<select id="new_room_num" name="new_room_num" placeholder="123">
{% for rooms in room_display %}
{% for room in rooms %}
<option value="{{room.num}}">{{room.num}}</option>
{% endfor %}
{% endfor %}
</select>
<input type="checkbox" name="new_room_as_fav" id="new_room_as_fav">
<label for="new_room_as_fav">Aseta oletukseksi</label>
<br>
<button type="submit" class="btn btn-primary">Lähetä</button>
<button type="button" class="btn btn-basic" onclick="toggleRoomModalMode()">Poista huone</button>


</form>
</div>

<!-- DELETE ROOM -->
<div id="deleteView" style="display: none;">
<form id="deleteRoomForm">
<select id="delete_room_num" name="delete_room_num" placeholder="123">
{% for rooms in room_display %}
{% for room in rooms %}
<option value="{{room.num}}">{{room.num}}</option>
{% endfor %}
{% endfor %}
</select>
<br>
<button type="submit" class="btn btn-primary">Lähetä</button>
<button type="button" class="btn btn-basic" onclick="toggleRoomModalMode()">Lisää huone</button>


</form>
</div>
</div>
</div>
</div>
</div>

<!-- HISTORY MODAL -->
<div class="modal fade" id="historyModal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Historia</h4>
<div class="history_box">
    <table class="table table-striped" id="table_sort">
        <tr class="history_top_row">
            <th class="table_button" onclick="sort_table(0)">Käyttäjä</th>
            <th class="table_button" onclick="sort_table(2)">kuinka kauan sitten</th>
            <th class="table_button" onclick="sort_table(2)">pvm</th>
            <th class="table_button" onclick="sort_table(3)">huone</th>
        </tr>
        {% for history_entry in history %}
        <tr>
        <td>{{history_entry[0]}}</td>
        <td>{{history_entry[1]}}</td>
        <td>{{history_entry[2]}}</td>
        <td>{{history_entry[3]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</div>
</div>
</div>
</div>

<!-- mustaa magiaa joka tekee tila valikon -->
<!-- katso myös: mun css ja huoneitten formatointi app.pyssä jos aiot muokata -->
<!-- https://en.wikipedia.org/wiki/Sunk_cost#Fallacy_effect -->
<form id="varausForm">
<div class="container room_box">
    <table class="room_table">
        <tr class="room_tr"> <!-- tämä on for loopin ulkona jotta oletushuone formatoi oikein -->
        {% if favroom %}
        <th><div class="room_div">
            <input class="room_input" type="radio" id="{{favroom.num}}" value="{{favroom.num}}" name="room_select" checked>
            <label for="{{favroom.num}}"><p>{{favroom.num}}</p>
            {% if favroom.nam %}
            <p class="room_name">: {{favroom.nam}}</p>
            {% endif %}
            </label>
        </div></th>
        {% endif %}

        {% for rooms in room_display %}
        {% if not loop.first %} <!-- jotta ensimmäisellä kierroksella ei tule ylimääräinen tr -->
        <tr class="room_tr">
        {% endif %}
        {% for room in rooms %}
            <th><div class="room_div">
                <input class="room_input" type="radio" id="{{room.num}}" value="{{room.num}}" name="room_select">
                <label for="{{room.num}}"><p>{{room.num}}</p>
                {% if room.nam %}
                <p class="room_name">: {{room.nam}}</p>
                {% endif %}
                </label>
            </div></th>
        {% endfor %}
        </tr>
        {% endfor %}
        <tr class="room_tr"><th>
            {% if user %}
            <div data-toggle="modal" data-target="#addRoomModal" class="add_room_div center_contents"><p>+</p></div>
            {% else %}
            <div class="add_room_div disabled_item center_contents"><p>+</p></div>
            {% endif %}
        </th></tr>
    </table>
</div>
<!-- varausnappi alue -->
<div class="container center_contents">
<div class="varaus_extra_buttons">
<div class="center_contents">
{% if user %}
<button class="btn btn-varaus mt-3" type="submit">Varaa</button>
{% else %}
<button class="btn mt-3" disabled>Varaa</button>
{% endif %}
</div>
<div class="center_contents">
<div class="d-flex gap-5 align-items-center mt-2">
    <h5 class="mt-3">Nyky varaus</h5>

    <span class="border px-3 py-1 ">{{viime_varaus.room}}</span>
        <span class="text-danger">{{viime_varaus.name}}</span>
        <p id="timer"></p>

</div>
</div>

<div class="center_contents">
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#historyModal">
historia
</button>
</div>

</div>
</div>
</form>



</main>

<script src="/static/table.js"></script>
<script src="/static/script.js"></script>
<script src="/static/time.js"></script>

</body>
</html>