<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekisteröityminen</title>
    <link rel="stylesheet" href="/assets/tyyli.css"/>
</head>

<main> //suoraan kopioitu etusivulta lol

    <header>
        <img id="logo" src="https://www.kpedu.fi/ResourcePackages/KPedu/assets/dist/images/logo.png"></img>
        <h1 id="teksti">Tällä sivulla rekisteröidyt jotta pääset kirjautumaan jatkossa sisään</h1>
    </header>

    <nav>
        <a href="main.html">Etusivu</a>
        
        <a href="help.html">Apua</a>
    </nav>

    <body>
        //robotin varaus kentät Sähköpostilla
        <form method="post">
            <input type="email" name="email">
            <button type="submit">lähetä</button>
        </form>
    </body>

    <aside>
        //kuva siitä missä se robotti on ollut
    </aside>

</main>

</html>
