<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>varaus</title>
    <link rel="stylesheet" href="/static/tyyli.css"/>
</head>

<main>

    <header>
        <img id="logo" src="https://www.kpedu.fi/ResourcePackages/KPedu/assets/dist/images/logo.png"></img>
        <h1 id="teksti">Tällä sivulla pääset varaamaan robotteja käyttöösi</h1>
    </header>

    <nav>
        <!---navigointi mahdollisten sivujen välillä ja sign uppi ja kirjautuminen-->
        <dialog id="varausDialog">
            <button autofocus id="closeDialog">Sulje</button>
            <p>haluatko varmistaa varauksen?</p>
            <form class="popupform" method="post">
                <button type="submit">lähetä</button>
            </form> <!--pop up dialog tässä en testannut ollenkaan-->
        </dialog>
        <select name="robotit" id="robottidropdown">
            <option value="robo1">robo1</option>
            <option value="robo2">robo2</option>
        </select>
        <input type="date" id="varausdate">
        <label for="varausdate">päivä</label>
        <input type="time" id="varaustime">
        <label for="varaustime">kellonaika</label>
        <input type="number" id="varauspituus">
        <label for="varauspituus">kuinka monta tuntia</label>

        <button href="help.html">Apua</button>
        <br>
        //luuranko sivu jotta saadaan tämä kohta projektista alkuun
        <br>
        <div style="background-color: red;"><p>aikajana valitusta robotista</p></div>
    </nav>

    
        

    <body>
        <!---robotin varaus kentät Sähköpostilla. tarkistaa että on kpedu sähköposti ja niin että kpedu on oikeassa kohtaa jotta tunnistaa opettajaksi--->
    </body>

    <script src="/static/script.js"></script>

    <aside>
        <!---kuva siitä missä se robotti on ollut--->
    </aside>

</main>

</html>